name: Push to AWS ECR

on:
  workflow_dispatch:
  push:
    branches:
      - "feature-api-dev"
    paths:
      - "app/**"
      - ".github/workflows/feature-api-dev.yaml"

permissions:
  id-token: write
  contents: read

jobs:
  ecr-push-fastapi:
    runs-on: ubuntu-latest
    environment: dev
    env:
      AWS_REGION: ${{ vars.AWS_REGION }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      DIR_DOCKFILE: app/fastapi
      ECR_REPOSITORY: "${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com/${{ vars.PROJECT }}-${{vars.APP}}-fastapi"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}
          tags: |
            type=raw,value=latest
            type=sha,format=long # Tag using the commit SHA

      - name: test
        run: |
          echo ${{env.ECR_REPOSITORY}}:${{vars.ENV}}

      - name: FastAPI - Extract metadata
        id: fastapi-meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.ECR_REPOSITORY }}

      - name: FastAPI - Build and push Docker image
        id: fastapi-push
        uses: docker/build-push-action@v3
        with:
          push: true
          context: ${{ env.DIR_DOCKFILE }}
          labels: ${{ steps.fastapi-meta.outputs.labels }}
          tags: "${{ env.ECR_REPOSITORY }}:${{ vars.ENV }}"
